#This is a list of files that aren't uploaded to the repository.  Feel free to add some more files here if you need.

#ignore the binary
ednn

*.o

#Files starting with del are probably meant to be deleted.
del*

#####stuff from Qt Creator
pinn.pro.user*
build-pinn-Desktop-Debug
tmp*
*.pro.user*
*.autosave
*.pro

.DS_Store

